<!-- <ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="secondary">
      <ion-button fill="clear" href="/basic-verification">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Signing Parties</ion-title>
  </ion-toolbar>
</ion-header>
 -->
<ion-content color="light">
  <ion-card class="ion-text-center ion-padding" color="gradient">
    <ion-card-title class="ion-text-bold">
      SIGNING PARTIES
    </ion-card-title>
  </ion-card>

  <ion-card color="white" class="ion-padding" *ngFor="let att of data;">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text class="ion-text-bold" color="primary">
            NAME
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="First" [(ngModel)]="data[att].name.first">

          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input placeholder="Last" [(ngModel)]="data[att].name.last">

          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text class="ion-text-bold" color="primary">
            ADDRESS
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="Street Address" [(ngModel)]="data[att].address.street">

          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-input placeholder="City" [(ngModel)]="data[att].address.city">

          </ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-input placeholder="Region" [(ngModel)]="data[att].address.region">

          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-input placeholder="Postal/Zip Code" [(ngModel)]="data[att].address.zip">

          </ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-select placeholder="Country" [(ngModel)]="data[att].address.country">
            <ion-select-option select="selected">Canada</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text class="ion-text-bold" color="primary">
            PHONE
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input placeholder="### ### ####" [(ngModel)]="data[att].phone.number"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <a href="/contract/3">
    <ion-button expand="block" class="ion-margin-horizontal" color="gradient">
      Continue
    </ion-button>
  </a>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="gradient" (click)="addSignee()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
