<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content padding="true">
    <div class="input-group-divider">
      <ion-item>  
        <ion-input placeholder="Email"></ion-input>
      </ion-item>
    </div>
      
    <div class="input-group-divider">
      <ion-item>  
        <ion-input placeholder="Password" type="password"></ion-input>
      </ion-item>      
    </div>
      
    <div class="input-group-divider">
      <ion-button expand="full" color="light">Submit</ion-button>
      <ion-button expand="full" color="light">Sign in with <ion-icon name="logo-facebook" class="button-logo"></ion-icon> Facebook</ion-button>
      <ion-button expand="full" color="light">Sign in with <ion-icon name="logo-google" class="button-logo"></ion-icon> Google</ion-button>
    </div>
</ion-content>