<ion-header no-border>
  <ion-toolbar mode="ios" color="gradient">
    <ion-buttons slot="secondary">
      <ion-button fill="clear" href="/tabs/profile">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button >
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-item lines="none" color="gradient">
    <ion-grid class="ion-padding-vertical">
      <ion-row>
        <ion-col>
          <ion-avatar class="avatar-large">
            <ion-img src="assets/img/2.png"></ion-img>
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-top">
        <ion-col class="text-center">
          <ion-label class="bold">
            PROFILE PHOTO
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-grid class="ion-padding">
    <ion-row class="ion-padding">
      <ion-col>
        <ion-label class="bold">
          FIRST NAME
        </ion-label>
        <ion-input class="underline">
          Kim Joseph
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-label class="bold">
          LAST NAME
        </ion-label>
        <ion-input class="underline">
          Penaloza
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-label class="bold">
          EMAIL
        </ion-label>
        <ion-input class="underline">
          kj.penaloza@gmail.com
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-label class="bold">
          BIRTHDAY
        </ion-label>
        <ion-row class="underline no-padding">
          <ion-col class="no-padding">
            <ion-select placeholder="Month">
              <ion-select-option>
                January
              </ion-select-option>
              <ion-select-option>
                February
              </ion-select-option>
              <ion-select-option>
                March
              </ion-select-option>
              <ion-select-option>
                April
              </ion-select-option>
              <ion-select-option>
                May
              </ion-select-option>
              <ion-select-option>
                June
              </ion-select-option>
              <ion-select-option>
                July
              </ion-select-option>
              <ion-select-option>
                August
              </ion-select-option>
              <ion-select-option>
                September
              </ion-select-option>
              <ion-select-option>
                October
              </ion-select-option>
              <ion-select-option>
                November
              </ion-select-option>
              <ion-select-option>
                December
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col>
            <ion-select placeholder="Day">
              <ion-select-option>
                1
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col>
            <ion-select placeholder="Year">
              <ion-select-option>
                1
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>


    <ion-row class="ion-padding">
      <ion-col>
        <ion-label class="bold">
          JOB
        </ion-label>
        <ion-input class="underline">
          Front-End Developer
        </ion-input>
      </ion-col>
    </ion-row>


    <ion-row class="ion-padding">
      <ion-col>
        <ion-label class="bold">
          LOCATION
        </ion-label>
        <ion-input class="underline">
          Nueva Ecija, Ph
        </ion-input>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>