ion-row {
    border-top: solid 1px rgb( 242, 242, 242);
    border-bottom: solid 1px rgb( 242, 242, 242);
}

ion-row:first-of-type {
    border-top: none;
}

ion-row:last-of-type {
    border-bottom: none;
}