<ion-header>
  <ion-toolbar mode="ios">
    <ion-button fill="clear">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-vertical">

  <a href="/tabs/edit-profile">
    <ion-card class="no-padding ion-margin-vertical">
      <ion-card-content>
        <ion-item lines="none" class="no-padding">
          <ion-text slot="start" class="ion-text-bold">
            Hello KJ
          </ion-text>
          <ion-avatar slot="end">
            <img src="assets/img/2.png">
          </ion-avatar>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </a>

  <ion-card class="no-padding">
    <ion-card-content>

      <ion-grid class="no-padding">
        <ion-row class="ion-padding-vertical">
          <ion-col size="11">
            <ion-text>
              Notification
            </ion-text>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-vertical">
          <ion-col size="11">
            <ion-text>
              Payment
            </ion-text>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="card"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-vertical">
          <ion-col size="11">
            <ion-text>
              Contract Agreements
            </ion-text>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="paper"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-vertical">
          <ion-col size="11">
            <ion-text>
              Privacy Policy
            </ion-text>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="lock"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-vertical">
          <ion-col size="11">
            <ion-text>
              Terms and Conditions
            </ion-text>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="attach"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-vertical">
          <ion-col size="11">
            <ion-text>
              About Us
            </ion-text>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="information-circle"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-vertical">
          <ion-col size="11">
            <ion-text>
              Log out
            </ion-text>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="log-in"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>
          Version 0.1
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>