<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="assets/icon/home.svg"></ion-icon>
      <ion-label color="primary">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saved">
      <ion-icon src="assets/icon/saved.svg"></ion-icon>
      <ion-label color="primary">Saved</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon src="assets/icon/profile.svg"></ion-icon>
      <ion-label color="primary">Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
