<ion-header no-border>
    <ion-toolbar mode="ios">
  
      <ion-buttons slot="secondary">
        <ion-button fill="clear" color="primary" routerLink="/tabs/profile">
          <ion-icon name="arrow-back" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>
  
      <ion-title>My Contracts</ion-title>
    </ion-toolbar>
  
    <ion-grid class="ion-padding-vertical">
      <ion-row>
        <ion-segment mode="ios">
  
          <ion-segment-button value="pending" fill="outline" mode="ios" checked (click)="showSegment( 'pending' )">
            <ion-label>Pending</ion-label>
          </ion-segment-button>
  
          <ion-segment-button value="approved" fill="outline" mode="ios" (click)="showSegment( 'approved' )">
            <ion-label>Approved</ion-label>
          </ion-segment-button>
  
          <ion-segment-button value="paid" fill="outline" mode="ios" (click)="showSegment( 'paid' )">
            <ion-label>Paid</ion-label>
          </ion-segment-button>
  
        </ion-segment>
      </ion-row>
    </ion-grid>
  
  </ion-header>
  
  <ion-content color="light">
    <ion-grid>
  
      <ion-row *ngIf="showPending == true">
        <ion-col size="6" *ngFor="let property of pendings">
  
          <ion-card class="with-image ion-no-margin" color="white" *ngIf="property.imageUrl; else withoutImage">
  
            <ion-card-header class="img-container" no-padding color="black" (click)="showInfo( pending )">
              <img src="{{ property.imageUrl }}" class="property-image-url">
            </ion-card-header>
  
            <ion-card-content class="ion-text-left">
  
              <ion-card-title color="white" class="ion-text-bold" class="property-description-address" (click)="showInfo( pending )">
                {{ property.description.address }}
              </ion-card-title>
  
              <ion-card-subtitle color="light" class="property-description-price">
                {{ property.description.price }}
              </ion-card-subtitle>
            </ion-card-content>
  
            <ion-fab vertical="top" horizontal="end" slot="fixed">
  
              <ion-button size="small" shape="round" fill="clear" (click)="cardPopover( property.id , $event )">
                <ion-icon color="white" name="close"></ion-icon>
              </ion-button>
            </ion-fab>
          </ion-card>
  
          <ng-template #withoutImage>
            <ion-card class="without-image ion-no-margin" color="white">
  
              <div class="image-container" style="height: 150px; overflow: hidden;" (click)="showInfo( pending )">
  
                <ion-img color="light" src="/assets/imgs/estate/default.svg">
                </ion-img>
  
              </div>
  
              <ion-card-content (click)="showInfo( pending )">
  
                <ion-card-title>
                  {{ property.description.address }}
                </ion-card-title>
  
                <ion-card-subtitle>
                  {{ property.description.price }}
                </ion-card-subtitle>
  
              </ion-card-content>
  
              <ion-fab vertical="top" horizontal="end" slot="fixed">
  
                <ion-button size="small" shape="round" fill="clear" (click)="cardPopover( property.id , $event )">
  
                  <ion-icon color="danger" name="close"></ion-icon>
                </ion-button>
              </ion-fab>
            </ion-card>
          </ng-template>
  
        </ion-col>
      </ion-row>
  
      <ion-row *ngIf="showPaid == true">
          <ion-col size="6" *ngFor="let property of paid">
    
            <ion-card class="with-image ion-no-margin" color="white" *ngIf="property.imageUrl; else withoutImage">
    
              <ion-card-header class="img-container" no-padding color="black" (click)="showInfo( pending )">
                <img src="{{ property.imageUrl }}" class="property-image-url">
              </ion-card-header>
    
              <ion-card-content class="ion-text-left" (click)="showInfo( pending )">
    
                <ion-card-title color="white" class="ion-text-bold" class="property-description-address">
                  {{ property.description.address }}
                </ion-card-title>
    
                <ion-card-subtitle color="light" class="property-description-price">
                  {{ property.description.price }}
                </ion-card-subtitle>
              </ion-card-content>  
            </ion-card>
    
            <ng-template #withoutImage>
              <ion-card class="without-image ion-no-margin" color="white" (click)="showInfo( pending )">
    
                <div class="image-container" style="height: 150px; overflow: hidden;">
    
                  <ion-img color="light" src="/assets/imgs/estate/default.svg">
                  </ion-img>
    
                </div>
    
                <ion-card-content (click)="showInfo( pending )">
    
                  <ion-card-title>
                    {{ property.description.address }}
                  </ion-card-title>
    
                  <ion-card-subtitle>
                    {{ property.description.price }}
                  </ion-card-subtitle>
    
                </ion-card-content>
              </ion-card>
            </ng-template>
    
          </ion-col>
        </ion-row>
  
        <ion-row *ngIf="showApproved == true">
            <ion-col size="6" *ngFor="let property of approved">
      
              <ion-card class="with-image ion-no-margin" color="white" *ngIf="property.imageUrl; else withoutImage">
      
                <ion-card-header class="img-container" no-padding color="black" (click)="showContract( property )">
                  <img src="{{ property.imageUrl }}" class="property-image-url">
                </ion-card-header>
      
                <ion-card-content class="ion-text-left" (click)="showContract( property)">
      
                  <ion-card-title color="white" class="ion-text-bold" class="property-description-address">
                    {{ property.description.address }}
                  </ion-card-title>
      
                  <ion-card-subtitle color="light" class="property-description-price">
                    {{ property.description.price }}
                  </ion-card-subtitle>
                </ion-card-content>  
              </ion-card>
      
              <ng-template #withoutImage>
                <ion-card class="without-image ion-no-margin" color="white" routerLink="/contract/step-one">
      
                  <div class="image-container" style="height: 150px; overflow: hidden;">
      
                    <ion-img color="light" src="/assets/imgs/estate/default.svg">
                    </ion-img>
      
                  </div>
      
                  <ion-card-content>
      
                    <ion-card-title>
                      {{ property.description.address }}
                    </ion-card-title>
      
                    <ion-card-subtitle>
                      {{ property.description.price }}
                    </ion-card-subtitle>
      
                  </ion-card-content>
                </ion-card>
              </ng-template>
      
            </ion-col>
          </ion-row>
      </ion-grid>
  
    <!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed">
  
      <ion-fab-button color="gradient" routerLink="/tabs/profile">
        <ion-icon name="arrow-back" mode="ios"></ion-icon>
      </ion-fab-button>
  
    </ion-fab> -->
  
  </ion-content>
  