.input-icon {
    font-size: 150%;
    padding-right: 10px;
}

.location-icon {
    font-size: 150%;
    display: inline-block;
    vertical-align: middle;
}

.location-text {
    display: inline-block;
    vertical-align: middle;
}

ion-icon {
    font-size: 50px;
}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}

ion-select {
    width: 100%;
    max-width: 100%;
}