<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button color="medium">
        <ion-icon name="map"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="medium">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Saved</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">

    <ion-row>
      <ion-col>
        <ion-segment color="medium">
          <ion-segment-button value="for-sale" checked>
            <ion-label>For Sale</ion-label>
          </ion-segment-button>
          <ion-segment-button value="for-rent">
            <ion-label>For Rent</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-label class="main">
          Recent Likes
        </ion-label>
      </ion-col>
      <ion-col class="text-right">
        <ion-label class="sub">
          2 Homes
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal ion-padding-bottom">
      <ion-col>
        <ion-card>
          <ion-img src="assets/img/1.jpg"></ion-img>
          <ion-card-content>
            <ion-card-title>
              66 Corusant Way, King West, Toronto
            </ion-card-title>
            <ion-card-subtitle>
              $799,999 - Maintenance Fee $420
            </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-img src="assets/img/1.jpg"></ion-img>
          <ion-card-content>
            <ion-card-title>
              66 Corusant Way, King West, Toronto
            </ion-card-title>
            <ion-card-subtitle>
              $799,999 - Maintenance Fee $420
            </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
        <ion-col>
          <ion-label class="main">
            Favorites
          </ion-label>
        </ion-col>
        <ion-col class="text-right">
          <ion-label class="sub">
            4 Homes
          </ion-label>
        </ion-col>
      </ion-row>
  
      <ion-row class="ion-padding-horizontal ion-padding-bottom">
        <ion-col>
          <ion-card>
            <ion-img src="assets/img/1.jpg"></ion-img>
            <ion-card-content>
              <ion-card-title>
                66 Corusant Way, King West, Toronto
              </ion-card-title>
              <ion-card-subtitle>
                $799,999 - Maintenance Fee $420
              </ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-img src="assets/img/1.jpg"></ion-img>
            <ion-card-content>
              <ion-card-title>
                66 Corusant Way, King West, Toronto
              </ion-card-title>
              <ion-card-subtitle>
                $799,999 - Maintenance Fee $420
              </ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  
      <ion-row class="ion-padding-horizontal ion-padding-bottom">
          <ion-col>
            <ion-card>
              <ion-img src="assets/img/1.jpg"></ion-img>
              <ion-card-content>
                <ion-card-title>
                  66 Corusant Way, King West, Toronto
                </ion-card-title>
                <ion-card-subtitle>
                  $799,999 - Maintenance Fee $420
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-img src="assets/img/1.jpg"></ion-img>
              <ion-card-content>
                <ion-card-title>
                  66 Corusant Way, King West, Toronto
                </ion-card-title>
                <ion-card-subtitle>
                  $799,999 - Maintenance Fee $420
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>