<ion-grid>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-text class="ion-text-bold">
        Are you sure you want to delete your pending contract?
      </ion-text>
      <ion-label>
        All contract details saved will be deleted.
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="block" class="ion-text-center" fill="clear" (click)="deleteCard( true )">
        <ion-text class="ion-text-bold" color="danger">
          Yes
        </ion-text>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" class="ion-text-center" fill="clear" (click)="deleteCard( false )">
        <ion-text class="ion-text-bold" color="primary" >
          No
        </ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>