// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import '~magic.css/assets/scss/magic.scss';

@font-face {
    font-family: open-sans;
    src: url( assets/fonts/OpenSans-Regular.ttf );
}

@font-face {
    font-family: open-sans-bold;
    src: url( assets/fonts/OpenSans-Bold.ttf );
}

@font-face {
    font-family: open-sans-light;
    src: url( assets/fonts/OpenSans-Light.ttf );
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    font-family: open-sans;
}

ion-title {
    font-family: open-sans-bold;
}

.ion-text-bold {
    font-family: open-sans-bold;
}

ion-button {
    font-family: 'Lato', sans-serif;
}

.primary-gradient {
    background-image: linear-gradient(to right, #45BBD8, #029FBD) !important;
}

a {
    all: unset;
}

.ion-row-bar-thick{
    border-bottom: solid 3px black;
}

.vertical-center {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
}