<ion-header no-border>
  <ion-toolbar mode="ios" color="gradient2">
    <ion-buttons slot="secondary">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Filter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <div no-padding class="ion-no-margin">
    <img src="assets/imgs/etc/filter-background.svg">
    
    <div class="ion-padding ion-text-center filter-background-text">
      <ion-text color="white">
        <h1 class="ion-text-center">Hello, let's get started!</h1>
        <h6 class="ion-text-center">What brings you to Bloc Estate today?</h6>
      </ion-text>
      
      <div class="input-group-divider">
        <ion-row>
          <ion-col class="button-col-left">
            <ion-button class="button-left" [color]="listType == 'sale' ? 'primary' : 'white'" (click)="listType = 'sale'" expand="full">For Sale</ion-button>
          </ion-col>
          <ion-col class="button-col-right">
            <ion-button class="button-right" [color]="listType == 'rent' ? 'primary' : 'white'" (click)="listType = 'rent'" expand="full">For Rent</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <ion-grid>
    
    <!-- <ion-row>
      <ion-col size="12">
      </ion-col>
    </ion-row> -->

    <!-- <ion-row>
      <ion-col size="12">
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col size="12">
        <div class="input-group-divider">
          <ion-text>Property Type</ion-text>
          <ion-item>
            <ion-label>Property Type</ion-label>
            <ion-select placeholder="Select property type">
              <ion-select-option value="1">Option 1</ion-select-option>
              <ion-select-option value="2">Option 2</ion-select-option>
              <ion-select-option value="3">Option 3</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="input-group-divider">
          <ion-text>Location</ion-text>
          <ion-item>  
            <ion-icon name="search" class="input-icon" item-start></ion-icon>
            <ion-input placeholder="Search Location"></ion-input>
          </ion-item>

          <ion-row>
            <ion-col text-center>
              <ion-icon name="pin" class="location-icon"></ion-icon>
              <ion-text class="location-text">Or use your current location</ion-text>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="input-group-divider">
          <ion-text>Price Range</ion-text>
          <ion-text float-right>${{ currentMin }} - ${{ currentMax }}</ion-text>
            
          <ion-item>  
            <ion-range [min]="priceRangeMin" [max]="priceRangeMax" step="5000" 
              [(ngModel)]="priceRange" (ionChange)="changeRangeValues(priceRange)" 
              color="primary" dualKnobs="true"></ion-range>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="input-group-divider">
          <ion-row>
            <ion-col text-center>
                <ion-button class="find-button" color="gradient" [routerLink]="['/signup']">
                  Find
                  <ion-icon slot="end" name="arrow-forward" size="small"></ion-icon>
                </ion-button>
            </ion-col>
          </ion-row>
          
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>